* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .file-input-box {
        z-index: 100;
        margin-bottom: 2rem;
        #fileInput {
            display: none;
        }
        .file-input-btn {
            border: .3rem dashed #91917d;
            border-radius: .5rem;
            font-weight: 700;
            color: #91917d;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: 250ms ease-in-out;
            span {
                font-size: 1.25rem;
                padding: 2rem;
                border-radius: .5rem;
                transition: 250ms ease-in-out;
                &.click-here-btn {
                    background-color: #91917d;
                    color: #FFF;
                    transition: 250ms ease-in-out;
                }
            }
            
            &:hover {
                background-color: rgba(0, 0, 0, .1);
                & {
                    .click-here-btn {
                        background-color: #5f5f56;
                    }
                }
            }
        }
    }
    .images {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 3rem;
        .image {
            max-width: 30%;
            height: auto;
            margin-bottom: 3rem;
        }
    }
}